/* Start adding new CSS here */
#calendar {
  max-width: 60rem;
  margin: 0 auto;
  height: 500px;
  margin-top: 2rem;
  color: #8a252c;
  transition: width 0.5s ease;
}

.fc-daygrid-day {
  background-color: #fff;
}

.fc-day-today {
  background-color: #F9D77E !important;
  border: 2px solid #8a252c;
}

.fc-daygrid-day-frame {
  border: 1px solid #8a252c;
}

.fc-col-header-cell {
  background-color: #8a252c;
  color: #fed534;
  font-weight: bold;
  border: 1px solid #8a252c;
}