{% extends 'main.html' %}

{% block title %}Calendar{% endblock %}

{% load static %}
{% block content %}
<link
      rel="stylesheet"
      type="text/css"
      href="{% static 'calendar_app/calendarStyles.css' %}"/>
      <div class="container">
        <h1>Calendar</h1>
      </div>
      <div id="calendar"></div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script>
      let calendarEl = document.getElementById("calendar");

      let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: "dayGridMonth",
        timeZone: "Asia/Manila",
        fixedWeekCount: false,
        events: "/dashboard/get_events/",
        eventDisplay: "block",
        eventTimeFormat: {
          hour: "numeric",
          minute: "2-digit",
          meridiem: "short",
        },
        eventDidMount: function (info) {
          info.el.style.backgroundColor = "#FED534";
          info.el.style.borderColor = "#FED534";
          info.el.style.fontSize = "12px";
        },
      });
      calendar.render();
    </script>
{% endblock %}