{% extends 'main.html' %}
{% block title %}Dashboard{% endblock %}
{% load static %}
{% block content %}
<link
      rel="stylesheet"
      type="text/css"
      href="{% static 'dashboard_app/dashboardStyles.css' %}"/>
<div class="container">
  <h1>Dashboard</h1>
</div>
<div id="dashboard">
<div class="events">
  <div class="eventHeader">
    <h2 class="upcomingEventsTitle">Upcoming Events</h2>
    {% if user_role == 1 %}
    <button class="addEventBtn" id="addEventBtn">+ Add Event</button>
    {% endif %}
  </div>
  <div class="eventListContainer">
    <!--event list-->
    {% for event in events %}      
    <div class="eventList">
      <h3>{{ event.title }}</h3>
      <p>{{ event.description }}</p>
      <p><strong>Location:</strong> {{ event.location }}</p>
      <p style="color: red;">{{ event.dateTime }}</p>
 
      <!--delete event-->
      {% if user_role == 1 %}
      <form method="POST" action="{% url 'deleteEvent' event.id %}" onsubmit="return confirmDel(this);">
        {% csrf_token %}
        <button type="submit" class="deleteBtn">Delete</button>
      </form>
 
      <!--edit event-->
      <button class="editBtn" onclick="openEditForm(
      '{{ event.id }}',  
      '{{ event.title }}',
      '{{ event.description }}',
      '{{ event.location }}',
      '{{ event.dateTime }}')"
      >Edit</button>
      {% endif %}
    </div>
   
    {% empty %}
    <p>No upcoming events.</p>
    {% endfor %}
  </div>
 
 <!--Upcoming Meetings Section-->
<div class="eventHeader">
  <h2 class="upcomingEventsTitle">Upcoming Meetings</h2>
  {% if user_role == 1 %}
  <button class="addMeeting" id="addMeetBtn">+ Add Meeting</button> <!--add meeting button-->
  {% endif %}
</div>
 
<div class="meetingListContainer">
  <!-- Meetings List -->
  {% for meeting in meetings %}
    <div class="eventList">
      <h3>{{ meeting.title }}</h3>
      <p>{{ meeting.description }}</p>
      <p><strong>Location:</strong> {{ meeting.location }}</p>
      <p style="color: red;">{{ meeting.dateTime }}</p>
     
      {% if user_role == 1 %}
        <!-- Delete Meeting -->
        <form method="POST" action="{% url 'deleteMeeting' meeting.id %}" onsubmit="return confirmDel(this);">
          {% csrf_token %}
          <button type="submit" class="deleteBtn">Delete</button>
        </form>
 
        <!-- Edit Meeting -->
        <button class="editBtn" onclick="openEditMeetingForm(
          '{{ meeting.id }}',  
          '{{ meeting.title }}',
          '{{ meeting.description }}',
          '{{ meeting.location }}',
          '{{ meeting.dateTime }}')"
        >Edit</button>
      {% else %}
        <!-- Join Meeting Button (for non-admins) -->
        <button class="joinBtn">Join Meeting</button>
      {% endif %}
    </div>
  {% empty %}
    <p>No upcoming meetings.</p>
  {% endfor %}
</div>
</div>
 
<div class="right-side">
  <div class="calendarContainer">
    <h2 class="calendarTitle">Calendar</h2>
    <div id="calendar"></div>
  </div>
  <!--TASK SECTION-->
  <div class="tasksContainer">
    <div class="tasksHeader">
      <h2 class="tasksTitle">Tasks</h2>
      {% if user_role == 1 %}
      <button class="assignTaskBtn">+ Assign Task</button>
      {% endif %}
    </div>
  <div class="tasksList">
    {% for task in tasks %}
    <div class="taskBox" data-task-id="{{ task.id }}">
      <h3 class="taskTitle">{{ task.taskTitle }}</h3>
      <p class="taskDescription">{{task.taskDescription}}.</p>
      <p class="taskDueDate">Due date: {{task.dueDate}}</p>
      {% if user_role == 1 %}
      <div class="button-container">
      <form method="POST" action="{% url 'deleteTask' task.id %}" onsubmit="return confirmDel(this);">
        {% csrf_token %}
      <button type="submit" class="deleteTaskBtn">Delete Task</button>
      </form>
      <button class="editTaskBtn" onclick="openEditTaskForm(
        '{{ task.id }}',  
        '{{ task.taskTitle }}',
        '{{ task.taskDescription }}',
        '{{ task.dueDate }}',
        '{{ task.assignTo.id }}'
      )">Edit</button>
</div>
{% elif user_role == 0 %}
<form method="POST" action="{% url 'completeTask' %}" onsubmit="return false;">
  {% csrf_token %}
  <button class="markCompleteBtn" onclick="markTaskComplete('{{ task.id }}')">Mark Complete</button>
</form>
{% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<!-- Snackbar -->
<div id="snackbar">Task Completed!</div>
 
<!--FORM CONTAINER TO ADD AND EDIT EVENTS-->
<div class="overlay" id="overlay"></div>
<div class="eventFormContainer" id="eventFormContainer">
<span class="closeBtn" onclick="closeForm()">&times;</span>
 
<h2 class="title" id="formTitle">Add New Event</h2>
<form class="eventForm" id="eventForm" method="post" action="{% url 'addEvents' %}">
  {% csrf_token %}
  <input type="hidden" id="edit_event_id" name="event_id">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required>
  <br><br>
  <label for="description">Description:</label>
  <textarea id="description" name="description" required></textarea>
  <br><br>
  <label for="location">Location:</label>
  <input type="text" id="location" name="location" required>
  <br><br>
  <label for="date_time">Date & Time:</label>
  <input type="datetime-local" id="date_time" name="date_time" required>
  <br><br>
  <button class="saveEventBtn" type="submit" id="saveEventBtn">Save Event</button>
</form>
  </div>
 
 
 
<!--HTML MODAL POP UP FOR DELETE-->
<div id="deleteConfirmationModal" class="modal">
  <div class="modalContent">
      <p>Are you sure you want to delete this event?</p>
      <div class="modalActions">
          <button id="confirmDeleteBtn" class="confirmBtn">DELETE</button>
          <button id="cancelDeleteBtn" class="cancelBtn">Cancel</button>
      </div>
  </div>
</div>
 
<!-- Task Assignment Modal -->
<div class="modal" id="assignTaskModal" style="display: none;">
  <div class="modalContent">
    <span class="closeBtn" onclick="closeTaskModal()">&times;</span>
    <h2>Assign Task</h2>
    <form id="assignTaskForm" class="assignTaskForm" method="POST" action="{% url 'addTasks' %}">
      {% csrf_token %}
      <label for="taskTitle">Task Title:</label>
      <input type="text" id="assignTaskTitle" name="taskTitle" placeholder="title" required>
      <br><br>
      <label for="taskDescription">Task Description:</label>
      <textarea id="assignTaskDescription" name="taskDescription" placeholder="short description here..."></textarea>
      <br><br>
      <label for="dueDate">Due Date:</label>
      <input type="datetime-local" id="assignDueDate" name="dueDate" required>
      <br><br>
      <label for="member_id">Assign To:</label>
      <select id="assignAssignedTo" name="member_id" class="selectMember" required>
        <option>Select Member</option>
        {% for member in members %}
        <option class="optionMembers" value="{{ member.id }}">{{ member.fname }} {{ member.lname }}</option>
        {% endfor %}
      </select>
      <br><br>
      <button type="submit" class="addTaskBtn">Assign Task</button>
    </form>
  </div>
</div>
 
<!-- Task Assignment Modal (Edit Task) -->
<div class="modal" id="editTaskModal" style="display: none;">
  <div class="overlay" id="overlay"></div>
  <div class="modalContent">
    <span class="closeBtn" onclick="closeTaskModal()">&times;</span>
    <h2>Edit Task</h2>
    <form id="editTaskForm" class="editTaskForm" method="POST" action="{% url 'updateTask' %}">
      {% csrf_token %}
      <input type="hidden" id="task_id" name="task_id">
      <label for="taskTitle">Task Title:</label>
      <input type="text" id="editTaskTitle" name="taskTitle" required>
      <br><br>
      <label for="taskDescription">Task Description:</label>
      <textarea id="editTaskDescription" name="taskDescription"></textarea>
      <br><br>
      <label for="dueDate">Due Date:</label>
      <input type="datetime-local" id="editDueDate" name="dueDate" required>
      <br><br>
      <label for="member_id">Assign To:</label>
      <select id="editAssignedTo" name="member_id" class="selectMember" required>
        <option>Select Member</option>
        {% for member in members %}
        <option class="optionMembers" value="{{ member.id }}">{{ member.fname }} {{ member.lname }}</option>
        {% endfor %}
      </select>
      <br><br>
      <button type="submit" class="saveTaskBtn">Save Changes</button>
    </form>
  </div>
</div>
  {% endblock %}
 
{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        fixedWeekCount: false,
        showNonCurrentDates: true,
        events: function(fetchInfo, successCallback, failureCallback) {
            Promise.all([
                fetch('/dashboard/get_events/').then(response => response.json()),
                fetch('/dashboard/get_tasks/').then(response => response.json()),
                fetch('/dashboard/get_meeting/').then(response => response.json())
            ]).then(([events, tasks, meetings]) => {
                const combinedEvents = [
                    ...events.map(event => ({
                        title: event.title,
                        start: event.start,
                        color: '#fed534',
                        type: 'Event'
                    })),
                    ...tasks.map(task => ({
                        title: task.taskTitle,
                        start: task.dueDate,
                        color: '#fed534', //Change here
                        type: 'Task'
                    })),
                    ...meetings.map(meeting => ({
                        title: meeting.title,
                        start: meeting.start,
                        color: '#8a252c',
                        type: 'Meeting'
                    }))
                ];
               
                successCallback(combinedEvents);
            }).catch(error => {
                console.error('Error fetching events:', error);
                failureCallback(error);
            });
        },
        eventTimeFormat: {
            hour: 'numeric',
            minute: '2-digit',
            meridiem: 'short'
        },
        eventContent: function(arg) {
            const timeEl = document.createElement('div');
            timeEl.classList.add('fc-event-time');
            timeEl.textContent = arg.timeText;
 
            const circleEl = document.createElement('div');
            circleEl.classList.add('fc-event-circle');
            circleEl.style.width = '10px';
            circleEl.style.height = '10px';
            circleEl.style.borderRadius = '50%';
            circleEl.style.marginRight = '5px';
            circleEl.style.backgroundColor = arg.event.backgroundColor || arg.event.extendedProps.color || '#8a252c';
 
            const wrapperEl = document.createElement('div');
            wrapperEl.style.display = 'flex';
            wrapperEl.style.alignItems = 'center';
            wrapperEl.appendChild(circleEl);
            wrapperEl.appendChild(timeEl);
 
            return { domNodes: [wrapperEl] };
        },
        windowResize: function(view) {
            calendar.render();
        }
    });
    calendar.render();
});
 
  let edit = false; // if edit btn pressed or nah
  let deleteForm = null; //modal form
 
  // confirm delete
  function confirmDel(form) {
      deleteForm = form;
      const modal = document.getElementById('deleteConfirmationModal');
      modal.style.display = 'block';
      document.getElementById('overlay').style.display = 'block';
      return false;
  }
 
  // delete event & delete task
  document.getElementById('confirmDeleteBtn').onclick = function() {
  if (deleteForm) {
      deleteForm.submit();
  }
  hideModal();
};
 
  function hideModal() {
  const modal = document.getElementById('deleteConfirmationModal');
  const overlay = document.getElementById('overlay');
  modal.style.display = 'none';  
  overlay.style.display = 'none';
  }
 
document.getElementById('cancelDeleteBtn').onclick = hideModal;
document.getElementById('overlay').onclick = hideModal;
 
//UPDATING MEETINGS SECTION
function openEditMeetingForm(id, title, description, location, dateTime) {
    document.getElementById('edit_event_id').value = id;
    document.getElementById('title').value = title;
    document.getElementById('description').value = description;
    document.getElementById('location').value = location;
   
    let formattedDateTime = '';
    try {
        const dateObj = new Date(dateTime);
       
        if (isNaN(dateObj.getTime())) {
            console.error('Invalid date:', dateTime);
            formattedDateTime = '';
        } else {
            const localDate = new Date(dateObj.getTime() - (dateObj.getTimezoneOffset() * 60000));
            formattedDateTime = localDate.toISOString().slice(0,16);
        }
    } catch (error) {
        console.error('Error parsing date:', error);
        formattedDateTime = '';
    }
 
    document.getElementById('eventFormContainer').style.display = "block";
    document.getElementById('date_time').value = formattedDateTime;
    document.getElementById('formTitle').innerText = "Edit Meeting";
    document.getElementById('saveEventBtn').innerText = "Save Meeting";
    document.getElementById('eventForm').action = `/dashboard/updateMeeting/${id}/`;
    document.getElementById('overlay').style.display = "block";
    edit = true;
}
 
// EDIT EVENT FORM
function openEditForm(id, title, description, location, dateTime) {
    document.getElementById('edit_event_id').value = id;
    document.getElementById('title').value = title;
    document.getElementById('description').value = description;
    document.getElementById('location').value = location;
    document.getElementById('date_time').value = dateTime;
    document.getElementById('formTitle').innerText = "Edit Event";
    document.getElementById('eventForm').action = "{% url 'updateEvent' %}";
    document.getElementById('saveEventBtn').innerText = "Update Event";
 
    edit = true;
 
    document.getElementById('eventFormContainer').style.display = "block";
    document.getElementById('overlay').style.display = 'block';
}
 
 
let joinButtons = document.querySelectorAll('.joinBtn');
 
joinButtons.forEach((button) => {
  button.addEventListener('click', async (event) => {
    event.preventDefault(); // Prevent the default button action (like form submission)
 
    // Get meeting title and create a room name
    let meetingTitle = event.target.closest('.eventList').querySelector('h3').textContent;
    let room = meetingTitle.toUpperCase(); // Use room name (e.g., meeting title)
 
    // Fetch token from the backend API
    let response = await fetch(`/meetings/get_token/?channel=${room}`);
    if (!response.ok) {
      // Handle failed response
      console.error("Failed to fetch token");
      return;
    }
 
    let data = await response.json();
    let UID = data.uid;
    let token = data.token;
    let name = data.name;
 
    // Store session data (for use in the meeting room)
    sessionStorage.setItem('UID', UID);
    sessionStorage.setItem('token', token);
    sessionStorage.setItem('room', room);
    sessionStorage.setItem('name', name);
 
    // Redirect to the meeting room page
    window.location.href = '/meetings/room/';
  });
});
 
// Open add event form
const addEventBtn = document.getElementById('addEventBtn');
addEventBtn.onclick = function() {
    edit = false;
    document.getElementById('formTitle').innerText = "Add New Event";
    document.getElementById('eventForm').action = "{% url 'addEvents' %}";
    document.getElementById('eventForm').reset();
    document.getElementById('eventFormContainer').style.display = "block";
    document.getElementById('overlay').style.display = "block";
    document.getElementById('saveEventBtn').innerText = "Save Event";
}
 
// Close form
function closeForm() {
    document.getElementById('eventFormContainer').style.display = "none";
    document.getElementById('overlay').style.display = "none";
    document.getElementById('overlay').onclick = hideModal;
 
}
 
document.querySelectorAll('.closeBtn').forEach(function (closeBtn) {
    closeBtn.addEventListener('click', function() {
      const modalId = this.closest('.modal') ? this.closest('.modal').id : null;
      if (modalId) {
        document.getElementById(modalId).style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
      }
    });
  });
 
//update task
function openEditTaskForm(task_id, taskTitle, taskDescription, dueDate, member_id) {
    document.getElementById('task_id').value = task_id;
    document.getElementById('editTaskTitle').value = taskTitle; // Updated id
    document.getElementById('editTaskDescription').value = taskDescription; // Updated id
    document.getElementById('editDueDate').value = dueDate; // Updated id
    document.getElementById('editAssignedTo').value = member_id; // Updated id
   
    document.getElementById('editTaskModal').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
    taskModal.style.display = 'block';
}
 
  function closeTaskModal() {
    const modal = document.getElementById('assignTaskModal');
    const form = document.getElementById('assignTaskForm');
    modal.style.display = 'none';
    document.getElementById('editTaskModal').style.display = 'none';
    taskModal.style.display = 'none';
    form.reset();
  }
 
document.querySelector('.closeBtn').addEventListener('click', closeTaskModal);
 
const addMeetBtn = document.getElementById('addMeetBtn');
addMeetBtn.onclick = function() {
    // Set the form to "Add New Meeting" mode
    document.getElementById('formTitle').innerText = "Add New Meeting";
   
    // Set the form action to the correct URL for adding meetings
    document.getElementById('eventForm').action = "{% url 'addMeeting' %}";
   
    // Reset the form fields for a new meeting
    document.getElementById('eventForm').reset();
   
    // Show the form and the overlay
    document.getElementById('eventFormContainer').style.display = "block";
    document.getElementById('overlay').style.display = "block";
    document.getElementById('saveEventBtn').innerText = "Save Meeting";
}
 
// Close the form when the overlay is clicked
document.getElementById('overlay').onclick = function() {
    closeForm();
}
 
function closeEditTaskModal() {
    document.getElementById('editTaskModal').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
  }
 
// Close the form function
function closeForm() {
    document.getElementById('eventFormContainer').style.display = "none";
    document.getElementById('overlay').style.display = "none";
}
 
// Open Assign Task Modal
const assignTaskBtn = document.querySelector('.assignTaskBtn');
const assignTaskModal = document.getElementById('assignTaskModal');
const overlay = document.getElementById('overlay');
 
assignTaskBtn.addEventListener('click', () => {
  assignTaskModal.style.display = 'block';
  overlay.style.display = 'block';
});
 
overlay.addEventListener('click', closeTaskModal);

function markTaskComplete(taskId) {
  fetch("{% url 'completeTask' %}", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      "X-CSRFToken": "{{ csrf_token }}"
    },
    body: JSON.stringify({ task_id: taskId })
  })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        const taskBox = document.querySelector(`[data-task-id="${taskId}"]`);
        if (taskBox) {
          taskBox.remove();
        }
        showSnackbar(); 
      } else {
        console.error(data.error || "An error occurred");
      }
    })
    .catch(error => console.error("Error:", error));
}
  function showSnackbar() {
    const snackbar = document.getElementById("snackbar");
    snackbar.classList.add("show");
    setTimeout(() => {
      snackbar.classList.remove("show");
    }, 3000);
  }
 
</script>
{% endblock %}