{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Call</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'meetings/roomStyles.css' %}"/>
</head>
<body>
    <main>
        <section id="room-name-wrapper">
            <p>Room Name: <span id="room-name"></span></p>
        </section>

        <section id="video-streams"></section>

        <section id="controls-wrapper">
            <div class="icon-wrapper">
                <img class="control-icon" id="mic-btn" src="{% static 'images/onmic.png' %}"/>
            </div>

            <div class="icon-wrapper">
                <img class="control-icon" id="camera-btn" src="{% static 'images/oncam.png' %}"/>
            </div>

            <div class="icon-wrapper">
                <img class="control-icon" id="leave-btn" src="{% static 'images/disconnect.png' %}"/>
            </div>
        </section>
    </main>
    <script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.22.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/streams.js' %}"></script>
</body>
</html>