{% load static %}
<div class="top">
  <div class="logo">
    <img src="{% static 'images/CIT_logo.png' %}" alt="logo" class="logo" />
    <span class="orgName">CSS</span>
  </div>
  <i class="bx bx-menu" id="btn"></i>
  <div class="user">
    {% if member %}
      {% if member.profile_picture %}
        <img src="{{ member.profile_picture.url }}" alt="User Profile Picture" class="user" />
      {% else %}
        <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Default Profile Picture" class="user" />
      {% endif %}
    {% endif %}
    <div class="name">
      <p class="username">{{ fname }} {{ lname }}</p>
      <p class="role">
        {% if user_role == 0 %}
          Member
        {% elif user_role == 1 %}
          Admin
        {% else %}
          Unknown Role
        {% endif %}
      </p>
    </div>
  </div>  
  <ul>
    <li>
      <a href="{% url 'dashboard' %}">
        <img
          src="{% static 'images/home.png' %}"
          alt="home"
          class="icon home-icon"
          data-hover-src="{% static 'images/home2.png' %}"
        />
        <span class="nav-item">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="{% url 'calendar' %}">
        <img
          src="{% static 'images/calendar.png' %}"
          alt="calendar"
          class="icon calendar-icon"
          data-hover-src="{% static 'images/calendar2.png' %}"
        />
        <span class="nav-item">Calendar</span>
      </a>
      <span class="tooltip">Calendar</span>
    </li>
    <li>
      <a href="{% url 'lobby' %}">
        <img
          src="{% static 'images/videocall.png' %}"
          alt="Meetings"
          class="icon meetings-icon"
          data-hover-src="{% static 'images/videocall2.png' %}"
        />
        <span class="nav-item">Meetings</span>
      </a>
      <span class="tooltip">Meetings</span>
    </li>
    <li>
      <a href="{% url 'members' %}">
        <img
          src="{% static 'images/group.png' %}"
          alt="Members List"
          class="icon member-icon"
          data-hover-src="{% static 'images/group2.png' %}"
        />
        <span class="nav-item">Members</span>
      </a>
      <span class="tooltip">Members</span>
    </li>
    <li>
      <a href="{% url 'register' %}">
        <img
          src="{% static 'images/logout.png' %}"
          alt="logout"
          class="icon logout-icon"
          data-hover-src="{% static 'images/logout2.png' %}"
        />
        <span class="nav-item">Logout</span>
      </a>
      <span class="tooltip">Logout</span>
    </li>
  </ul>  
</div>

<script src="{% static 'js/sidebar.js' %}"></script>
