
/* Start adding new CSS here */
.title{
  text-align: center;
}

.eventHeader{ /*EVENT TITLE*/
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  margin-left: 50px;
  margin-top: 8px;

}
.upcomingEventsTitle{
  margin-left: 30px;
  font-size: 20px;
  padding: 10px;
}

.events{ /*MAIN EVENT BOX HERE*/
  width: 60%;
  height: 550px;
  flex: 1;
  display: flex;
  background-color: #f9f9f9;
  margin-left: 20px; 
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-right: 10px;
  box-sizing: border-box;
}


.eventList {
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 200px; 
  height: 140px; 
  flex-shrink: 0;
  box-sizing: border-box; 
  position: relative ;
  margin-right: 10px;
  margin-left: 11px;
}

.eventList h3 {
  color: #000000;
  font-size: 1rem;
  margin-bottom: 10px;
}

.eventList p {
  font-size: 0.7rem;
  color: #333;
  margin: 5px 0;
}

.deleteBtn{
  color: white;
  background-color: #8a252c;
  padding: 4px;
  border-radius: 10px;
  width: 80px;
  border: transparent;
  position: absolute; 
  bottom: 15px; 
  left: 8px;
  cursor: pointer;
  margin-bottom: -4px;
}

.deleteBtn:hover{
  color: black;
}

.editBtn{
  color: black;
  background-color: #fed534;
  padding: 4px;
  border-radius: 16px;
  width: 80px;
  border: transparent;
  position: absolute; 
  bottom: 15px; 
  right: 8px;
  cursor: pointer;
  margin-bottom: -4px;
}

.editBtn:hover{
  color: white;
}

.joinBtn{
  color: white;
  background-color: #8a252c;
  padding: 4px;
  border-radius: 10px;
  width: 175px;
  border: transparent;
  position: absolute; 
  bottom: 15px; 
  left: 8px;
  cursor: pointer;
  margin-bottom: -4px;
}

.joinBtn:hover{
  color: black;
}

.eventListContainer {   /*EVENT CONTAINER BOX*/
  border: solid #fed534;
  background-color: #fed534;
  width: 90%;
  height: 190px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  gap: 20px;
  overflow-x: auto; 
  overflow-y: hidden; /*anti vertical scroll*/
  max-width: 1200px;
}

#overlay {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}


.eventFormContainer {
  font-family: Arial, Helvetica, sans-serif;
  display: none; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100; 
  width: 550px;
  height: 460px;
  border-radius: 15px;
  
}

.eventForm{
  margin: 0 auto;     
  width: 100%;          
  padding: 20px;       
  text-align: left;

}

textarea{
  resize: none;
  width: 100%; 
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input{
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input:hover {
  border-color: #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

textarea:hover{
  border-color: #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addEventBtn,.addMeeting{
  border-radius: 5px;
  border-color: #8a252c;
  color: #8a252c;
  background-color: transparent;
  width: 100px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  align-self: flex-start;
  margin-right: 70px;
  margin-bottom: 20px;
}

.closeBtn{
  color:#8a252c;
    font-size: 30px; 
    cursor: pointer;
    float: right;
    margin-right: 15px;
}

.saveEventBtn,.addTaskBtn{
    color:#ffffff;
    background-color: #8a252c;
    font-size: 14px; 
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 2px;

}

.saveTaskBtn{
  color:#ffffff;
    background-color: #721f25;
    font-size: 14px; 
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 2px;

}

#dashboard {
  display: flex; 
  justify-content: flex-start; 
  gap: 20px; 
  width: 100%;
  padding: 20px;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 30%; 
}


.calendarContainer,.tasksContainer {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.calendarContainer {
  position: relative;
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 300px;
  max-height: 300px;
}

.calendarTitle {
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #000000;
}

#calendar {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: grid;
  font-size: 9px;
  color: #555;
  min-height: 235px;
  max-height: 235px;
  padding: 5px;
  box-sizing: border-box;
  overflow-y: auto;
}

.fc-daygrid-day {
  background-color: #fff;
}

.fc-day-today {
  background-color: #d7d7d7 !important;
  border: 2px solid #8a252c;
}

.fc-daygrid-day-frame {
  border: 1px solid #8a252c;
}

.fc-col-header-cell {
  background-color: #8a252c;
  color: #fed534;
  font-weight: bold;
  border: 1px solid #8a252c;
}

#calendar .day {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
  height: 60px; 
  box-sizing: border-box;
  padding: 5px;
  text-align: center; 
}

#calendar .day:hover {
  background-color: #f0f0f0;
}

#calendar .day.empty {
  background: #f9f9f9; 
}

/*scroll decors*/

.eventListContainer::-webkit-scrollbar {
  height: 8px; 
  width: auto;  
}

.eventListContainer::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px; 
}

.eventListContainer::-webkit-scrollbar-thumb {
  background: #fed534; 
  border-radius: 20px; 

}

.eventListContainer::-webkit-scrollbar-thumb:hover {
  background: #d1a828; 
}

/*MODAL POP UPS*/
.modal, .deleteModalMessage{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  text-align: center;
}

.modalContent {
  padding: 10px;
  
}
.confirmBtn, .cancelBtn,.ok {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.confirmBtn {
  background: #ff4d4d;
  color: white;
  margin-right: 10px;
}

.cancelBtn {
  background: #007bff;
  color: white;
}


/*bootleg toast*/
.toast {
  visibility: hidden; 
  min-width: 200px;
  background-color: #4CAF50;
  color: white; 
  text-align: center;
  border-radius: 5px;
  padding: 12px 16px;
  position: fixed;
  z-index: 1000;
  left: 50%; 
  top: 20px; 
  transform: translateX(-50%);
  opacity: 0; 
  transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
}

.toast.show {
  visibility: visible; 
  opacity: 1; 
  top: 50px; 
}

.toast.error {
  background-color: #f44336; 
  
}


/*UPCOMING MEETING SECTION*/

.meetings{
  width: 60%;
  height: 500px;
  display: flex;
  padding: 10px;
  gap: 20px;
  background-color: #f9f9f9;
  margin: auto;   
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 30px;
}

.meetingListContainer {   /*MEETING CONTAINER BOX*/
  border: solid #8a252c;
  background-color: #8a252c;
  width: 90%;
  height: 190px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  gap: 20px;
  overflow-x: auto; 
  overflow-y: hidden; /*anti vertical scroll*/
  max-width: 1200px;
}

/*Meeting scroll design*/

.meetingListContainer::-webkit-scrollbar {
  height: 8px; 
  width: auto;  
}

.meetingListContainer::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

.meetingListContainer::-webkit-scrollbar-thumb {
  background: #8a252c; 
  border-radius: 10px; 

}

.meetingListContainer::-webkit-scrollbar-thumb:hover {
  background: #721f25; 
}

/*TASK SECTION*/

.tasksHeader {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 5px;
  margin-top: -10px;
}

.assignTaskBtn{
  border-radius: 5px;
  border-color: #8a252c;
  color: #8a252c;
  background-color: white;
  width: 100px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  align-self: flex-start;
  margin-right: 2px;
  margin-bottom: 20px;
}

.tasksList {
  display: flex;
  flex-wrap: wrap;
  gap: 25px; 
  box-sizing: border-box;
  width: 100%;
  max-height: 150px; 
  overflow-y: auto;
  margin-top: -10px;
}

.tasksList::-webkit-scrollbar {
  width: 0;
}

.tasksList::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 4px;
}

.tasksList::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.assignTaskForm,.editTaskForm{
  margin: 0 auto;     
  width: 100%;          
  padding: 20px;       
  text-align: left;
}

.taskBox {
  border: 1px solid #ddd; 
  background-color: #fed534; /*Change here*/
  border-radius: 8px; 
  padding: 10px; 
  width: calc(50% - 10px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0.2, 0.2); 
  box-sizing: border-box; 
  flex:100%;
  max-width: 100%;
}

.taskTitle {
  font-size: 16px; 
  font-weight: bold; 
  margin-bottom: 5px; 
  color: #000000;
  margin: 10px;
}

.taskDescription {
  font-size: 12px; 
  color: #000000;
  margin: 10px;
  margin-left: 14px;
}

.taskDueDate{
  font-size: 10px;
  color: #8a252c;
  margin: 10px;
  margin-left: 14px;
}

.editTaskBtn{
  color: white;
  background-color: #8a252c;
  padding: 4px;
  border-radius: 10px;
  width: 70px;
  border: transparent;
  cursor: pointer;
}

.editTaskBtn:hover {
  color: #000000;
}
.markCompleteBtn{
  color: white;
  background-color: #8a252c;
  padding: 4px;
  border-radius: 10px;
  width: 120px;
  border: transparent;
  cursor: pointer;
  float: right;
}

.button-container {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;  
}

.deleteTaskBtn {
  color: white;
  background-color: #8a252c;
  padding: 4px;
  border-radius: 10px;
  width: 95px;
  border: transparent;
  cursor: pointer;
}
.deleteTaskBtn:hover {
  color: #000000;
}
.tasksContainer {
  position: relative;
  width: 400px;
  height: 230px;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin-top: 18px;
}

.tasksTitle {
  font-size: 20px;
  text-align: left;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000000;
}

.optionMembers{
  color: black;
  background-color: white;
}

.selectMember{
  border-radius: 4px;
  margin-top: 10px;
  border-width: 2px;
  border-color: #333;
  padding: 2px;
  margin-left: 10px;
}

/* Hover and selected styles for options */
#assignedTo option:hover,
#assignedTo option:checked {
  background-color: #f0d9a8; 
  color: #8a252c; 
}