* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.orgName {
  color: white;
  margin-left: 1rem;
  font-size: 2rem;
}

.user {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #8a252c;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.name {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 600;
  white-space: nowrap;
}

.role {
  font-size: 0.85rem;
  color: #ccc;
  margin-top: 0.2rem;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: #8a252c;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
  left: 12.5rem;
  width: calc(100% - 12.5rem);
}

.sidebar.active {
  width: 12.5rem;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  top: 0.4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar .top .logo {
  display: flex;
  height: 50px;
  width: 5rem;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar.active .top .logo {
  opacity: 1;
}

.top .logo {
  font-size: 1rem;
  margin-right: 5px;
}

.user {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.user p {
  color: #fff;
  opacity: 1;
  margin-left: 1rem;
}

.username {
  font-weight: 600;
}

.sidebar p {
  opacity: 0;
}

.sidebar.active p {
  opacity: 1;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
  margin-top: 0.5rem;
  padding-left: 4px;
}

.sidebar ul li a:hover {
  background-color: #fed534;
}

.sidebar ul li a:hover .nav-item {
  background-color: #fed534 !important;
  color: black !important;
}

.sidebar ul li a img {
  min-width: 1.5rem;
  height: 1.5rem;
  margin-left: 8px;
}

.home:hover {
  content: url("images/home2.png");
}

.sidebar .nav-item {
  opacity: 0;
  margin-left: 1rem;
}

.sidebar.active .nav-item {
  opacity: 1;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
  color: white;
  pointer-events: none;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
  background-color: #8a252c;
  margin-left: 1rem;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.main-content {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 0;
  background-color: #efefef;
}

.container {
  width: 100%;
  box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.4);
  padding: 0.5rem 0rem 0.5rem 1rem;
  color: #8a252c;
  background-color: #fff;
}

/* Start adding new CSS here */

.title{
  text-align: center;
}

.eventHeader{ /*EVENT TITLE*/
  display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    margin-left: 50px;

}

.events{
  width: 90%;
  height: 350px;
  display: flex;
  padding: 20px;
  gap: 20px;
  background-color: #f9f9f9;
  margin: auto;   /*EVENT BOX HERE*/
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 50px;
 
}

.eventList {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 300px; 
  height: 180px; 
  flex-shrink: 0;
  box-sizing: border-box; 
  position: relative  
}

.deleteBtn{
  color: white;
  background-color: #8a252c;
  padding: 4px;
  border-radius: 10px;
  width: 100px;
  border: transparent;
  position: absolute; 
  bottom: 15px; 
  left: 10px;
  cursor: pointer;
}

.editBtn{
  color: white;
  background-color: #8a252c;
  padding: 4px;
  border-radius: 10px;
  width: 100px;
  border: transparent;
  position: absolute; 
  bottom: 15px; 
  right: 30px;
  cursor: pointer;

}
.eventListContainer {   /*EVENT CONTAINER BOX*/
  border: solid #fed534;
  width: 90%;
  height: 230px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  gap: 20px;
  overflow-x: auto; 
  overflow-y: hidden; /*anti vertical scroll*/
  max-width: 1200px;
}

#overlay {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 99;
}


.eventFormContainer {
  font-family: Arial, Helvetica, sans-serif;
  display: none; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100; 
  width: 550px;
  height: 460px;
  border-radius: 15px;
  
}

.eventForm{
  margin: 0 auto;     
  width: 100%;          
  padding: 20px;       
  text-align: left;

}

textarea{
  resize: none;
  width: 100%; 
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input{
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input:hover {
  border-color: #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

textarea:hover{
  border-color: #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addEventBtn{
  border-radius: 5px;
  border-color: #8a252c;
  color: #8a252c;
  background-color: transparent;
  width: 100px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  align-self: flex-start;
  margin-right: 20px;
}

.closeBtn{
  color:#8a252c;
    font-size: 30px; 
    cursor: pointer;
    float: right;
    margin-right: 15px;
}

.saveEventBtn{
    color:#ffffff;
    background-color: #8a252c;
    font-size: 14px; 
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 2px;

}

.eventList h3 {
  color: #8a252c;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.eventList p {
  font-size: 0.8rem;
  color: #333;
  margin: 5px 0;
}

/*scroll decors*/

.eventListContainer::-webkit-scrollbar {
  height: 8px; 
  width: auto;  
}

.eventListContainer::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px; 
}

.eventListContainer::-webkit-scrollbar-thumb {
  background: #fed534; 
  border-radius: 20px; 

}

.eventListContainer::-webkit-scrollbar-thumb:hover {
  background: #d1a828; 
}

